body {
    font-family: 'Segoe UI', sans-serif;
}

.card img {
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

body.dark-mode{
    background-color: #1f1f1f;
    color:#f0f0f0
}

.dark-mode .card{
    background-color: #2c2c2c;
    border-color:#444;
}

.dark-mode .card-text,
.dark-mode .card-title,
.dark-mode .card-subtitle{
    color:#e0e0e0;
}

.dark-mode .btn{
    border-color:#ccc;
    color:#f0f0f0;
}